@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.map-view {
    height: 600px;
    max-height: 65vh;
    width: 100%;
}

.map-wrapper {
    margin: 2rem 0 0 0;
    padding: 2rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
    box-shadow: gray;
    background-image: linear-gradient(180deg, var(--geoblazor-tertiary) 0%, var(--geoblazor-primary) 100%);
}

.dymaptic-branding {
    margin: 0.5rem;
}

.instructions {
    font-style: italic;
}

.esri-ui {
    overflow: visible!important;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: var(--geoblazor-primary);
}

a:hover, .btn-link:hover {
    color: black;
}

.btn, input {
    border-radius: 0.5rem;
    border: 1px solid black;
}

.btn {
    padding: 0.2rem 2rem;
}

input {
    padding: 0.2rem;
}

.btn-primary {
    color: black;
    background-color: var(--geoblazor-secondary);
}

.btn-primary:hover {
    color: white;
    background-color: var(--geoblazor-tertiary);
}

.btn-secondary {
    background-color: black;
    color: white;
}

.btn-secondary:hover {
    background-color: var(--geoblazor-primary);
}

.content {
    padding-top: 1.1rem;
    padding-bottom: 2rem;
}

.links-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.form-check-input {
    width: 1.25rem;
    height: 1.25rem;
}

.form-check-input:checked[type=checkbox] {
    background-image: unset;
    background-color: var(--geoblazor-primary);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.radio-container {
    position: relative;
    padding-right: 1rem;
}

.radio-container input:checked ~ .radio-box {
    background-color: var(--geoblazor-primary);
}

.radio-box {
    display: inline;
    height: 1.25rem;
    width: 1.25rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    position: absolute;
    right: 0;
    background-color: white;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

.demo-select {
    width: 200px;
    font-family: 'Avenir Next W00';
    font-size: 1em
}

input[type="text"], input[type="number"] {
    width: 8rem;
}

:root {
    --geoblazor-primary: #512e84;
    --geoblazor-secondary: #cae9fb;
    --geoblazor-tertiary: #125a8d;
}

@media (max-width: 799px) {
    input[type="text"], input[type="number"] {
        width: 5.5rem;
    }   
}

/*noinspection CssInvalidMediaFeature*/
@media (vertical-viewport-segments: 2) or (screen-spanning: ) {
    .map-wrapper {
        position: fixed!important;
        bottom: 10px;
        right: 10px;
        left: 10px;
        top: calc(50vh + 20px);
    }
    
    #map-container {
        height: calc(50vh - 40px);
    }

    #control-set {
        margin-bottom: calc(50vh + 20px);
        overflow: scroll;
    }
}