@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="_content/dymaptic.Blazor.GIS.API.Core.Sample.Shared/images/dymaptic-transparent-web-600x171.png"
                 width="150" alt="dymaptic" />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div id="nav-item-container" class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="navigation">
                <span class="oi oi-compass" aria-hidden="true"></span> Navigation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="drawing">
                <span class="oi oi-pencil" aria-hidden="true"></span> Drawing
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scene">
                <span class="oi oi-globe" aria-hidden="true"></span> Scene
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="widgets">
                <span class="oi oi-location" aria-hidden="true"></span> Widgets
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="basemaps">
                <span class="oi oi-map" aria-hidden="true"></span> Basemaps
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="feature-layers">
                <span class="oi oi-layers" aria-hidden="true"></span> Feature Layers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vector-layer">
                <span class="oi oi-arrow-right" aria-hidden="true"></span> Vector Layer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="web-map">
                <span class="oi oi-browser" aria-hidden="true"></span> Web Map
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="web-scene">
                <span class="oi oi-box" aria-hidden="true"></span> Web Scene
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sql-query">
                <span class="oi oi-data-transfer-download" aria-hidden="true"></span> SQL Query
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sql-filter-query">
                <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span> SQL Filter Query
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="place-selector">
                <span class="oi oi-arrow-bottom" aria-hidden="true"></span> Place Selector
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="routing">
                <span class="oi oi-transfer" aria-hidden="true"></span> Routing
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="service-areas">
                <span class="oi oi-comment-square" aria-hidden="true"></span> Service Areas
            </NavLink>
        </div>
    </nav>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (!_collapseNavMenu)
        {
            string currentPage = NavigationManager.Uri.Replace("source-code/", "");
            await JsRuntime.InvokeVoidAsync("scrollToNav", currentPage);
        }
    }

    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}