@page "/auto-login"
@using dymaptic.GeoBlazor.Core.Functions

<h3>AutoLogin</h3>

<MapView Latitude="0" Longitude="0" Zoom="2"
         PromptForOAuthLogin="true"
         Style="height: 500px; width: 100%;">
    <Map>
        <Basemap>
            <BasemapStyle Name="BasemapStyleName.ArcgisTopographic" />
        </Basemap>
    </Map>
    <SearchWidget Position="OverlayPosition.TopRight" />
</MapView>

@code {

}