@page "/"
@using dymaptic.GeoBlazor.Core.Model
@inject OAuthAuthentication Authentication

<h1>Hello, GeoBlazor!</h1>
<div>Currently your login status is: <p>@_isLoggedIn</p></div>

@if(!_isLoggedIn)
{
    <button class="btn btn-primary" @onclick="async () => { await Authentication.Login(); }">Login</button>
}
else
{
    <div>You are Logged in.</div>
    <div>Your token is: @_token</div>
    
    <MapView Latitude="0" Longitude="0" Zoom="2" Style="height: 500px; width: 100%;">
        <Map ArcGISDefaultBasemap="arcgis-topographic"></Map>
        <SearchWidget Position="OverlayPosition.TopRight"/>
    </MapView>
}

@code {

    private bool _isLoggedIn = false;
    private string? _token = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _isLoggedIn = await Authentication.IsLoggedIn();
        if (_isLoggedIn)
        {
            _token = await Authentication.GetCurrentToken();
        }
    }

}