@page "/"
@using dymaptic.GeoBlazor.Core.Model
@inject AuthenticationManager AuthenticationManager

<h1>Hello, GeoBlazor!</h1>
<div>
    Currently your login status is:
    <p>@_isLoggedIn</p>
</div>

@if (_isLoggedIn is not null)
{
    if (!_isLoggedIn.Value)
    {
        <button class="btn btn-primary" @onclick="async () => { await AuthenticationManager.Login(); }">Login</button>
    }
    else
    {
        <div>You are Logged in.</div>
        <div>Your token is: @_token</div>

        <MapView Latitude="0" Longitude="0" Zoom="2" Style="height: 500px; width: 100%;">
            <Map>
                <Basemap>
                    <BasemapStyle Name="BasemapStyleName.ArcgisTopographic" />
                </Basemap>
            </Map>
            <SearchWidget Position="OverlayPosition.TopRight" />
        </MapView>
    }
}

@code {

    private bool? _isLoggedIn;
    private string? _token = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        bool isNowLoggedIn = await AuthenticationManager.IsLoggedIn();
        if (_isLoggedIn != isNowLoggedIn)
        {
            _isLoggedIn = isNowLoggedIn;
            if (_isLoggedIn.Value)
            {
                _token = await AuthenticationManager.GetCurrentToken();
            }
            StateHasChanged();
        }
    }

}