@page "/map"

@if (!_isInitialized)
{
    <p>Loading...</p>
}
else
{
    <MapView Class="map-view" PromptForOAuthLogin="true">
        <Map>
            <Basemap>
                    <PortalItem PortalItemId="1bf19e76cb6e45db8ab9739e560e9307" />
            </Basemap>
        </Map>
    </MapView>
}

@code {
    [Inject]
    public required ArcGisAuthService AuthService { get; set; }

    [Inject]
    public required AuthenticationManager AuthenticationManager { get; set; }

    // GeoBlazor AuthenticationManager cannot initialize until after the first render, when JavaScript interop is available.
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            TokenResponse tokenResponse = await AuthService.GetTokenAsync(true);
            if (tokenResponse.Success && tokenResponse.AccessToken != null)
            {
                await AuthenticationManager.RegisterToken(tokenResponse.AccessToken, (DateTimeOffset)tokenResponse.Expires!);
                _isInitialized = true;
                StateHasChanged();
            }
        }
    }

    private bool _isInitialized = false;
}
