<div class="render-mode-selector-row">
    <label>Blazor Web App Render Mode:&nbsp;&nbsp;</label>
    <select id="render-select" @onchange="SaveModeAndReload">
        <option value="Static" selected="@(_configuredRenderMode is null)">Static</option>
        <option value="Server" selected="@(_configuredRenderMode == InteractiveServer)">Server</option>
        <option value="WebAssembly" selected="@(_configuredRenderMode == InteractiveWebAssembly)">WebAssembly</option>
        <option value="Auto" selected="@(_configuredRenderMode == InteractiveAuto)">Auto</option>
    </select>
    <label>
        &nbsp;&nbsp;
        @{
            switch (_configuredRenderMode)
            {
                case InteractiveWebAssemblyRenderMode _:
                    <span>Page and components will be rendered in the browser</span>
                    break;
                case InteractiveServerRenderMode _:
                    <span>Page and components will be rendered on the server and updated via SignalR</span>
                    break;
                case InteractiveAutoRenderMode _:
                    <span>First load will be on the server, and the Wasm runtime will load in the background</span>
                    break;
                default:
                    <span>Maps will not work in Static Render mode.</span>
                    break;
            }
        }
    </label>
</div>

@code {
    [Inject]
    public required IConfiguration Configuration { get; set; }

    [Inject]
    public required IJSRuntime JSRuntime { get; set; }
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _configuredRenderMode = Configuration.GetValue<string?>("RenderMode") switch
        {
            "Server" => InteractiveServer,
            "WebAssembly" => InteractiveWebAssembly,
            "Auto" => InteractiveAuto,
            _ => null
            };
    }

    private async Task SaveModeAndReload(ChangeEventArgs args)
    {
        Configuration["RenderMode"] = args.Value!.ToString();
        await JSRuntime.InvokeVoidAsync("location.reload");
    }
    
    private IComponentRenderMode? _configuredRenderMode;
}