@page "/auto-login"

<h1>AutoLogin</h1>

<p>
    This sample demonstrates how to use the <code>PromptForOAuthLogin</code> property of the <code>MapView</code> 
    component to automatically prompt users for OAuth login when they access a page with a GeoBlazor map.
</p>

<MapView Latitude="0" Longitude="0" Zoom="2"
         PromptForOAuthLogin="true"
         Style="height: 500px; width: 100%;">
    <Map >
        <Basemap>
            <BasemapStyle Name="BasemapStyleName.ArcgisTopographic" />
        </Basemap>
    </Map>
    <SearchWidget Position="OverlayPosition.TopRight" />
</MapView>