.dymaptic-branding {
    text-align: right;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    width: fit-content;
    padding: 0 0.5rem;
}

@media (prefers-color-scheme: dark) {
    .dymaptic-branding {
        background: rgba(0, 0, 0, 0.8);
        color: white;
    }
}

.map-wrapper {
    position: relative;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.validation-message {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    color: red;
    
    a {
        color: red;
        text-decoration: underline;
        margin: 5rem;
        max-width: 90%;
        width: 20rem;
        font-size: x-large;
        font-weight: bold;
    }
}