.map-wrapper {
    --geoblazor-light: #ddd7ff;
    --geoblazor-dark: #121212;
    --error: #FF0022;
}

::deep .esri-ui {
    z-index: 1;
}

@media (prefers-color-scheme: light) {
    .dymaptic-branding {
        background: var(--geoblazor-light);
        color: var(--geoblazor-dark);

        a, a:visited {
            color: var(--geoblazor-dark);
        }
    }
}

@media (prefers-color-scheme: dark) {
    .dymaptic-branding {
        background: var(--geoblazor-dark);
        color: var(--geoblazor-light);

        a, a:visited {
            color: var(--geoblazor-light);
        }
    }
}

.dymaptic-branding {
    z-index: 0;
    text-align: right;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    padding: 0 0.5rem;
}

.map-wrapper {
    position: relative;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}