//
// Typography
//

$body-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace;
$root-font-size: 16px; // Base font-size for rems
$body-line-height: 1.4;
$content-line-height: 1.6;
$body-heading-line-height: 1.25;

//
// Font size
// `-sm` suffix is the size at the small (and above) media query
//

$font-size-1: 9px;
$font-size-1-sm: 10px;
$font-size-2: 11px; //h4 - uppercased!, h6 not uppercased, text-small
$font-size-3: 12px; //h5
$font-size-4: 14px;
$font-size-5: 16px; //h3
$font-size-6: 18px; //h2
$font-size-7: 24px;
$font-size-8: 28px; //h1
$font-size-9: 36px;
$font-size-10: 42px;
$font-size-10-sm: 48px;

//
// Colors
//

$white: #fff;

$grey-dk-000: #959396;
$grey-dk-100: #5c5962;
$grey-dk-200: #44434d;
$grey-dk-250: #302d36;
$grey-dk-300: #27262b;

$grey-lt-000: #f5f6fa;
$grey-lt-100: #eeebee;
$grey-lt-200: #ecebed;
$grey-lt-300: #e6e1e8;

$purple-000: #7253ed;
$purple-100: #5e41d0;
$purple-200: #4e26af;
$purple-300: #381885;

$blue-000: #2c84fa;
$blue-100: #2869e6;
$blue-200: #264caf;
$blue-300: #183385;

$green-000: #41d693;
$green-100: #11b584;
$green-200: #009c7b;
$green-300: #026e57;

$yellow-000: #ffeb82;
$yellow-100: #fadf50;
$yellow-200: #f7d12e;
$yellow-300: #e7af06;

$red-000: #f77e7e;
$red-100: #f96e65;
$red-200: #e94c4c;
$red-300: #dd2e2e;

$geoblazor-purple-000: #512e84;
$geoblazor-blue-000: #cae9fb;
$geoblazor-blue-100: #125a8d;

$body-background-color: $white;
.side-bar {
  background-image: linear-gradient(180deg, $geoblazor-blue-100 0%, $geoblazor-purple-000 100%);
} 

.side-bar a {
  color: white;
}
            
$search-background-color: $white;
$table-background-color: $white;
$code-background-color: $grey-lt-000;
$feedback-color: $geoblazor-purple-000;

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;
$search-result-preview-color: $grey-dk-000;
$nav-child-link-color: $grey-lt-300;
$link-color: $geoblazor-purple-000;
$btn-primary-color: $geoblazor-purple-000;
$base-button-color: #f7f7f7;

//
// Spacing
//

$spacing-unit: 1rem; // 1rem == 16px

$spacers: (
        sp-0: 0,
        sp-1: $spacing-unit * 0.25,
        sp-2: $spacing-unit * 0.5,
        sp-3: $spacing-unit * 0.75,
        sp-4: $spacing-unit,
        sp-5: $spacing-unit * 1.5,
        sp-6: $spacing-unit * 2,
        sp-7: $spacing-unit * 2.5,
        sp-8: $spacing-unit * 3,
        sp-9: $spacing-unit * 3.5,
        sp-10: $spacing-unit * 4,
);

$sp-1: map-get($spacers, sp-1); // 0.25 rem == 4px
$sp-2: map-get($spacers, sp-2); // 0.5  rem == 8px
$sp-3: map-get($spacers, sp-3); // 0.75 rem == 12px
$sp-4: map-get($spacers, sp-4); // 1    rem == 16px
$sp-5: map-get($spacers, sp-5); // 1.5  rem == 24px
$sp-6: map-get($spacers, sp-6); // 2    rem == 32px
$sp-7: map-get($spacers, sp-7); // 2.5  rem == 40px
$sp-8: map-get($spacers, sp-8); // 3    rem == 48px
$sp-9: map-get($spacers, sp-9); // 3.5  rem == 56px
$sp-10: map-get($spacers, sp-10); // 4  rem == 64px

//
// Borders
//

$border: 1px solid;
$border-radius: 4px;
$border-color: $grey-lt-100;

//
// Grid system
//

$gutter-spacing: $sp-6;
$gutter-spacing-sm: $sp-4;
$nav-width: 264px;
$nav-width-md: 248px;
$nav-list-item-height: $sp-6;
$nav-list-item-height-sm: $sp-8;
$nav-list-expander-right: true;
$content-width: 800px;
$header-height: 60px;
$search-results-width: $content-width - $nav-width;
$transition-duration: 400ms;

//
// Media queries in pixels
//

$media-queries: (
        xs: 320px,
        sm: 500px,
        md: $content-width,
        lg: $content-width + $nav-width,
        xl: 1400px,
);

.site-header {
  border-bottom: none !important;
}
.site-button:hover {
  background-image: none !important;
  text-decoration: underline;
}

.search {
  position: absolute!important;
  left: 0;
}

body {
  background-image: url("../images/GradientBackground.jpg");
  background-size: cover;
}

.main-header {
  background-color: transparent!important;
}

.site-button {
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0.2rem 2rem!important;
  font-size: 1.5rem;
  height: unset!important;
}

.aux-nav-list-item, .search-input-wrap {
  display: flex!important;
  align-items: center;
}

search {
  margin-right: 1rem;
}

.search-input {
  height: unset!important;
  border-radius: 0.5rem!important;
  padding: 0.5rem 1rem 0.5rem 2rem!important;
  font-size: 1.5rem!important;
  position: relative!important;
  margin: 0 1.5rem;
  width: 250px!important;
}

.search-active .search-label {
  padding-left: 2rem!important;
}

.search-active .search-input {
  width: 250px;
}

.search-input-wrap {
  padding-right: 1.5rem;
}