@page "/about"
@page "/"
<div id="feature-panel">
    <h1>GeoBlazor</h1>
    <p>
        The dymaptic Blazor API wraps the esri ArcGIS Javascript API, providing tag-based web-map building for any Asp.NET Core
        web application.
    </p>
    <div id="feature-inset">
        <img id="map-img" src="_content/dymaptic.GeoBlazor.Core.Sample.Shared/images/AboutMap.png" />
        <div id="feature-text-container">
            <div id="feature-text">
                <h2>Visit our Home Page</h2>
                <p>
                    <a href="https://www.geoblazor.com">https://www.geoblazor.com</a>
                </p>
                <h2>Get the Source</h2>
                <p>
                    <a href="https://github.com/dymaptic/GeoBlazor">https://github.com/<br />dymaptic/GeoBlazor</a>
                </p>
                <h2>Get the Nuget Package</h2>
                <p>
                    <a href="https://www.nuget.org/packages/dymaptic.GeoBlazor.Core">https://www.nuget.org/packages/<br />dymaptic.GeoBlazor.Core</a>
                </p>
                <h2>Get Started</h2>
                <p>
                    <a href="https://docs.geoblazor.com/pages/gettingStarted.html">https://docs.geoblazor.com/<br />pages/gettingStarted.html</a>
                </p>
            </div>
        </div>
    </div>
    <p>Need help creating your own Geospatial Information System, maps, or data applications?</p>
    <p>Visit <a href="https://www.dymaptic.com">dymaptic.com</a> or <a href="mailto:geoblazor@dymaptic.com">email us</a> and let us know how we can help you!</p>
    <div class="pro">
        Go Pro with the <a href="https://docs.geoblazor.com/pages/pro.html">GeoBlazor Pro</a> package!
    </div>
</div>