@page "/basemap-projections"

<h1>Basemap Projections</h1>
<PageTitle>Basemap Projections</PageTitle>
<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/sample-code/basemaps-portal/">ArcGIS API for JavaScript</a>
</div>
<p class="instructions">
    Click on the Expand Widget in the top right, select a Basemap, and the Spatial Reference is listed in the bottom left corner.
</p>

<MapView Class="map-view"
         Longitude="-100"
         Latitude="35"
         Zoom="2"
         OnSpatialReferenceChanged="OnSpatialReferenceChanged">
    <Constraints SnapToZoom="false" />
    <CustomOverlay @ref="Overlay" Position="OverlayPosition.BottomLeft">
        <div id="sr-div" class="esri-widget">view.spatialReference.wkid = <b>@_spatialReference.Wkid</b></div>
    </CustomOverlay>
    <ExpandWidget Position="OverlayPosition.TopRight" ExpandIconClass="esri-icon-basemap">
        <BasemapGalleryWidget>
            <PortalBasemapsSource 
                QueryParams="@(new Dictionary<string, string> {{"id", "bdb9d65e0b5c480c8dcc6916e7f4e099"}})" />
        </BasemapGalleryWidget>
    </ExpandWidget>
    <Map>
        <Basemap>
            <PortalItem Id="8d91bd39e873417ea21673e0fee87604" />
        </Basemap>
    </Map>
</MapView>

@code {
    private CustomOverlay? Overlay { get; set; }
    
    private Task OnSpatialReferenceChanged(SpatialReference spatialReference)
    {
        _spatialReference = spatialReference;
        Overlay?.Refresh();
        return Task.CompletedTask;
    }

    private SpatialReference _spatialReference = new(102100);
}