@page "/Bookmarks"
@using dymaptic.GeoBlazor.Core.Components.Bookmark;

<PageTitle>Bookmarks and Bookmarks Widget</PageTitle>
<h1>Bookmarks Widget</h1>

<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/esri-widgets-Bookmarks.html">ArcGIS API for JavaScript Reference</a>
    <a class="btn btn-primary" target="_blank" href="https://www.arcgis.com/home/item.html?id=70b726074af04a7e9839d8a07f64c039">Bookmarks widget</a>
</div>

<p class="instructions">
    Sample demonstrates the use of the Bookmarks widget and Bookmark actions.
</p>

<div class="form-group">
    <label>Show Bookmarks and Bookmarks Widget: <input type="checkbox" class="form-check-input" @onchange="@(() => _showBookmarks = !_showBookmarks)"></label>
</div>

<MapView @ref="MapView" Zoom="2" Class="map-view">
    <Map>
        <Basemap>           
            <PortalItem Id="70b726074af04a7e9839d8a07f64c039" />
        </Basemap>
    </Map>
    @if (_showBookmarks)
    {
        <ExpandWidget ContainerId="BookmarkDiv" Position="OverlayPosition.TopRight" HtmlContent="Hurricanes" >
            
        </ExpandWidget>
    }
    
</MapView>

@code {
    private MapView? MapView { get; set; }
    private string? Url { get; set; }
    private bool _showBookmarks;
    private Bookmark? Bookmark { get; set; }
    private Bookmarks[]? HurricaneBookmarks { get; set; }
    private Geometry? Viewpoint;
    //private ExpandWidget? HurricaneExpand = new ExpandWidget()
    private string? Hurricanes = "<div class='hurricane-expand'><h1>Hurricane Tracker</h1><p>Track hurricanes in the Atlantic and Pacific Oceans</p></div>";

    // need to have the expand widget open the content of the bookmarks container
    // bookmarks container needs to have the list of bookmarks contained in the hurricane map.
}