@page "/Bookmarks"
@using dymaptic.GeoBlazor.Core.Components.Widgets;

<PageTitle>Bookmarks and Bookmarks Widget</PageTitle>
<h1>Bookmarks Widget</h1>
<link rel="stylesheet" href="https://js.arcgis.com/4.27/esri/themes/dark/main.css" />
<style>
    html,
    body,
    #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }

    #timeSliderDiv {
        width: 300px;
    }
</style>
<script src="https://js.arcgis.com/4.27/"></script>
<script>
    require([
        "esri/WebMap",
        "esri/views/MapView",
        "esri/widgets/Bookmarks",
        "esri/widgets/Expand",
        "esri/widgets/TimeSlider",
        "esri/widgets/Legend"
    ], (
        WebMap, MapView, Bookmarks, Expand, TimeSlider, Legend
    ) => {
        const webmap = new WebMap({
            portalItem: {
                // autocasts as new PortalItem()
                id: "70b726074af04a7e9839d8a07f64c039"
            }
        });

        const view = new MapView({
            container: "viewDiv",
            map: webmap
        });

        const bookmarks = new Bookmarks({
            view: view,
            // allows bookmarks to be added, edited, or deleted
            editingEnabled: true,
            visibleElements: {
                time: false // don't show the time (h:m:s) next to the date
            }
        });

        const bkExpand = new Expand({
            view: view,
            content: bookmarks,
            expanded: true
        })

        // Add the widget to the top-right corner of the view
        view.ui.add(bkExpand, "top-right");

        // Add legend
        const legend = new Legend({
            view: view,
            style: "card"
        })
        view.ui.add(new Expand({ view, content: legend }), "top-left");

        const clearBtn = document.getElementById("clearFilter");
        view.ui.add(clearBtn, "bottom-right");

        // get timeslider settings from the webmap & create timeslider, add it to the view UI
        TimeSlider.getPropertiesFromWebMap(webmap).then((timeSliderSettings) => {
            const timeSliderDiv = document.createElement("div");
            timeSliderDiv.id = "timeSliderDiv";

            const timeSlider = new TimeSlider({
                ...timeSliderSettings, // imported settings from webmap
                view: view,
                container: timeSliderDiv
            });
            view.ui.add(timeSlider, "bottom-left");
        });

        //view.when(function () {
        //    const layer = webmap.layers.getItemAt(0);
        //    bookmarks.on("bookmark-select", (event) => {
        //        let hurricaneName = event.bookmark.name.toUpperCase()
        //        layer.featureEffect = {
        //            filter: {
        //                where: "Name = '" + hurricaneName + "'"
        //            },
        //            excludedEffect: "grayscale(100%) opacity(30%)"
        //        }
        //    });
        //    clearBtn.addEventListener("click", () => {
        //        layer.featureEffect = null;
        //    });
        //});
    });
</script>
<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/esri-widgets-Bookmarks.html">ArcGIS API for JavaScript Reference</a>
    <a class="btn btn-primary" target="_blank" href="https://www.arcgis.com/home/item.html?id=70b726074af04a7e9839d8a07f64c039">Bookmarks widget</a>
</div>

<p class="instructions">
    Sample demonstrates the use of the Bookmarks widget and Bookmark actions.
</p>
<div id="viewDiv"></div>
<button id="clearFilter" class="esri-button">Clear filter</button>
@*<MapView @ref="MapView" Class="map-view">
    <WebMap>
        <PortalItem Id="70b726074af04a7e9839d8a07f64c039" />
    </WebMap>
        <BookmarksWidget EditingEnabled="true" Position="OverlayPosition.TopRight">*@
@* <Bookmark Name="InlineExample">
            <Viewpoint  >
            <Extent Xmin="-13139131.948889678" Ymin="4047767.307589972" Xmax="-13105131.948889678" Ymax="4067767.307589972">
            <SpatialReference Wkid="102100"></SpatialReference>
            </Extent>
            </Viewpoint>
            </Bookmark>*@
@* </BookmarksWidget>

</MapView> *@

@code {
    private MapView? MapView { get; set; }

}