@page "/Bookmarks"

<PageTitle>Bookmarks and Bookmarks Widget</PageTitle>
<h1>Bookmarks Widget</h1>

<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/esri-widgets-Bookmarks.html">ArcGIS API for JavaScript Reference</a>
    <a class="btn btn-primary" target="_blank" href="https://developers.arcgis.com/javascript/latest/sample-code/widgets-bookmarks/">Bookmarks Sample</a>
</div>

<p class="instructions">
    Sample demonstrates the use of the Bookmarks widget and Bookmark actions.
    This follows the ESRI sample, but the Timeline Widget is included with GeoBlazor pro.
</p>
<MapView @ref="_mapView" Class="map-view" OnLayerViewCreate="OnLayerViewCreate">
    <WebMap>
        <PortalItem Id="70b726074af04a7e9839d8a07f64c039" />
    </WebMap>
    <ExpandWidget Expanded="true" Position="OverlayPosition.TopRight">
        <BookmarksWidget OnBookmarkSelect="OnBookmarkClick" EditingEnabled="true">
        </BookmarksWidget>
    </ExpandWidget>

</MapView>

@code {
    private MapView? _mapView;

    private FeatureLayerView? _layerView;

    private void OnLayerViewCreate(LayerViewCreateEvent evt)
    {
        if (evt.Layer is not FeatureLayer layer) return;
        _layerView = evt.LayerView as FeatureLayerView;
    }

    private void OnBookmarkClick(BookmarkSelectEvent eventArgs)
    {
        if (_layerView is null) return;

        var hurricaneName = eventArgs.Bookmark.Name;

        var featureEffect = new FeatureEffect
            {
                Filter = new FeatureFilter()
                {
                    Where = $"Name = '{hurricaneName!.ToUpper()}'"
                },
                ExcludedEffect = new() { new Effect() { Value = "grayscale(100%) opacity(30%)" } }
            };
        _ = _layerView.SetFeatureEffect(featureEffect);
    }

}