#control-set {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    border: 1px solid black;
    padding: 0.5rem 2rem;
    background-image: linear-gradient(180deg, black 0%, var(--geoblazor-primary) 100%);
    margin: 0.25rem;
    color: white;
}

.form-group .table {
    color: white;
}

.draw-label {
    display: block;
    font-size: 1.5rem;
    margin: 0;
}

h3 {
    display: block;
    font-size: 1.25rem;
}

.table {
    width: 40%;
    display: block;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    top: -2px;
}

@media (max-width: 799px) {
    #control-set {
        flex-direction: column;
        width: unset;
    }
}