#control-set {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid var(--geoblazor-primary);
    padding: 0.5rem;
    margin: 0.5rem;
    max-height: 25rem;
    overflow-y: scroll;
}

.form-group {
    border: 1px solid black;
    padding: 0.5rem 2rem;
    background-image: linear-gradient(180deg, var(--geoblazor-tertiary) 0%, var(--geoblazor-primary) 100%);
    margin: 1rem;
    color: white;
}

.form-group .table {
    color: white;
}

.react-label {
    display: block;
    font-size: 1.3rem;
    margin: 0;
}

h3 {
    display: block;
    font-size: 1.25rem;
}

.table {
    width: 40%;
    display: block;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    top: -2px;
}

@media (max-width: 799px) {
    #control-set {
        flex-direction: column;
        width: unset;
    }
}