@page "/imagerylayer"

<h3>Imagery Layers</h3>

<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/esri-layers-KMLLayer.html">ArcGIS API for JavaScript</a>
    <a class="btn btn-primary" target="_blank" href="https://services.arcgis.com/V6ZHFr6zdgNZuVG0/arcgis/rest/services/US_National_Parks_Annual_Visitation/FeatureServer/0">USGS Earthquake Hazards Program Monitoring Center</a>
</div>
<Label>The sample Imagery Layer uses a URL to see major earthquakes for latest 30 days from USGS to the map database :</Label>
<InputText @bind-Value="_ImageryLayerUrl"></InputText>
<br />
<Label>Click the buttons below to see the different ways to display a Imagery layer</Label>
<button disabled="@(!_mapRendered)" @onclick="(()=>AddRemoveImageryLayer())">Add or Remove Imagery Layer in code</button>
<button disabled="@(!_mapRendered)" @onclick="(()=>_markup = !_markup)">Add new KML Layer in Markup</button>


@code {

}
