@page "/imagerylayer"

<h3>Imagery Layers</h3>

<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/esri-layers-ImageryLayer.html">ArcGIS API for JavaScript</a>
    <a class="btn btn-primary" target="_blank" href="https://sampleserver6.arcgisonline.com/arcgis/rest/services/NLCDLandCover2001/ImageServer">National Ground Land Cover: 2001</a>
</div>
<p class="instructions">
    The sample Imagery Layer depicts the land cover classification rasters of the conterminous U.S.
</p>
<div class="spaced-row">
    <label for="imagery-url">Enter Imagery Layer URL:</label>
    <input type="text" id="imagery-url" @bind="_imageryLayerUrl" style="width: 100%;" />
</div>
<p>Click the buttons below to see the different ways to display a Imagery layer</p>
<div class="spaced-row">
    <button type="button" class="btn btn-primary" disabled="@(!_mapRendered)" @onclick="AddRemoveImageryLayer">Add or Remove Imagery Layer in code</button>
    <button type="button" class="btn btn-accent" disabled="@(!_mapRendered)" @onclick="()=>_markup = !_markup">Add new Imagery Layer in Markup</button>
</div>

<MapView @ref="_view" class="map-view" 
         Center="@(new Point(-100, 40))"
         Zoom="4"
         OnViewRendered="OnViewRendered">
    <Map>
        <Basemap>
            <BasemapStyle Name="BasemapStyleName.ArcgisLightGrayBase" />
        </Basemap>
        @if (_markup)
        {
            <ImageryLayer Url="https://sampleserver6.arcgisonline.com/arcgis/rest/services/NLCDLandCover2001/ImageServer" Opacity="0.6"></ImageryLayer>
        }
    </Map>
</MapView>


@code {

    private void OnViewRendered() => _mapRendered = true;

    public async Task AddRemoveImageryLayer()
    {
        if (!_view!.Map!.Layers.Any())
        {
            _imagerySampleLayer = new(_imageryLayerUrl);
            await _view.AddLayer(_imagerySampleLayer);
        }
        else
        {
            await _view.RemoveLayer(_imagerySampleLayer!);
        }
    }

    private MapView? _view;
    private bool _mapRendered;
    private bool _markup;

    private string _imageryLayerUrl = "https://sampleserver6.arcgisonline.com/arcgis/rest/services/NLCDLandCover2001/ImageServer";
    private ImageryLayer? _imagerySampleLayer;
}
