@page "/kmllayers"

<h3>Kml Layers</h3>

<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/esri-layers-KMLLayer.html">ArcGIS API for JavaScript</a>
</div>
<Label>Add the sample KML Layer URL to see major earthquakes for latest 30 days from USGS to the map database :</Label>
<InputText @bind-Value="_kmlLayerUrl"></InputText>
<button disabled="@(!_mapRendered)" @onclick="(()=>AddKMLLayer())">Add new KML Layer!</button>


<MapView @ref="_view" class="map-view" OnMapRendered="OnMapRendered" Scale="0">
    <Map ArcGISDefaultBasemap="dark-gray-vector">
        @if (_visible)
        {
            <KMLLayer Url="https://earthquake.usgs.gov/fdsnws/event/1/query?format=kml&minmagnitude=5.8" Title="Major EarthQuakes Query Result"></KMLLayer>
        }
    </Map>
</MapView>



@code {
    private void OnMapRendered() => _mapRendered = true;

    public async Task AddKMLLayer()
    {
        _visible = true;
        await LoadKMlLayer();
        _view.Refresh();
    }

    public async Task LoadKMlLayer()
    {
        if (!string.IsNullOrEmpty(_kmlLayerUrl))
        await _view.AddLayer(new KMLLayer() { Url = _kmlLayerUrl });
    }


private MapView _view;
private bool _visible = false;
private bool _mapRendered = false;

private string _kmlLayerUrl = "https://earthquake.usgs.gov/fdsnws/event/1/query?format=kml&minmagnitude=5.8";
}
