@page "/kmllayers"

<h3>Kml Layers</h3>

<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/esri-layers-KMLLayer.html">ArcGIS API for JavaScript</a>
</div>
<Label>Add the sample KML Layer URL to see major earthquakes for latest 30 days from USGS database :</Label>
<InputText @bind-Value="_kmlLayerUrl"></InputText>
<button disabled="@(!_mapRendered)" @onclick="(()=>AddKMlLayer())">Add new KML Layer!</button>


<MapView @ref="_view" class="map-view" OnMapRendered="OnMapRendered">
    <Extent Xmin="-41525513" Ymin="4969181" Xmax="-36687355" Ymax="9024624">
        <SpatialReference Wkid="102100" />
    </Extent>
    <Map ArcGISDefaultBasemap="dark-gray-vector">
        <!--<KMLLayer Url="https://earthquake.usgs.gov/fdsnws/event/1/query?format=kml&minmagnitude=5.8" Title="Major EarthQuakes Query Result" Copyright="Esri"></KMLLayer>-->
    
    
    </Map>
</MapView>



@code {
    private void OnMapRendered() => _mapRendered = true;

    public void AddKMlLayer()
    {
        if (!string.IsNullOrEmpty(_kmlLayerUrl))
        _view.Map.Add(new KMLLayer() { Url = _kmlLayerUrl });
    }


private MapView _view;

private bool _mapRendered = false;

private string _kmlLayerUrl = "https://earthquake.usgs.gov/fdsnws/event/1/query?format=kml&minmagnitude=5.8";
}
