@page "/kmllayers"

<h3>Kml Layers</h3>

<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/esri-layers-KMLLayer.html">ArcGIS API for JavaScript</a>
    <a class="btn btn-primary" target="_blank" href="https://services.arcgis.com/V6ZHFr6zdgNZuVG0/arcgis/rest/services/US_National_Parks_Annual_Visitation/FeatureServer/0">USGS Earthquake Hazards Program Monitoring Center</a>
</div>
<Label>The sample KML Layer uses a URL to see major earthquakes for latest 30 days from USGS to the map database :</Label>
    <InputText @bind-Value="_kmlLayerUrl"></InputText>
<br/>
<Label>Click the buttons below to see the different ways to display a KML layer</Label>
<button disabled="@(!_mapRendered)" @onclick="(()=>AddRemoveKMLLayer())">Add or Remove KML Layer in code</button>
<button disabled="@(!_mapRendered)" @onclick="(()=>_markup = !_markup)">Add new KML Layer in Markup</button>


<MapView @ref="_view" class="map-view" OnViewRendered="OnViewRendered" Scale="0">
    <Map ArcGISDefaultBasemap="dark-gray-vector">
        @if (_markup)
        {
            <KMLLayer Url="@_kmlLayerUrl" Title="Major EarthQuakes Query Result"></KMLLayer>
        }
    </Map>
</MapView>



@code {
    private void OnViewRendered() => _mapRendered = true;

    // ReSharper disable once InconsistentNaming
    public async Task AddRemoveKMLLayer()
    {
        if (!_view!.Map!.Layers.Any())
        {
            _kmlSampleLayer = new(_kmlLayerUrl);
            await _view.AddLayer(_kmlSampleLayer);
        }
        else
        {
            await _view.RemoveLayer(_kmlSampleLayer!);
        }
    }



    private MapView? _view;

    private bool _mapRendered;
    private bool _markup;

    private string _kmlLayerUrl = "https://earthquake.usgs.gov/fdsnws/event/1/query?format=kml&minmagnitude=5.8";
    private KMLLayer? _kmlSampleLayer;
}
