@page "/layer-lists"
@using dymaptic.GeoBlazor.Core.Components.Widgets.LayerList
@using dymaptic.GeoBlazor.Core.Components.Widgets.BasemapLayerList

@inject IJSRuntime JsRuntime

<PageTitle>LayerLists</PageTitle>
<h1>LayerLists</h1>
<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/esri-widgets-LayerList.html">ArcGIS API for JavaScript Reference</a>
    <a class="btn btn-primary" target="_blank" href="https://www.arcgis.com/home/item.html?id=adfad6ee6c6043238ea64e121bb6429a">San Francisco - Urban Planning Web Scene</a>
</div>
<p class="instructions">
    A simple demo of loading multiple layers into the LayerList widget.
    Select the right arrow to open the sublayers within the layer.
    Select the "eye" icons to toggle a layer's visibility on the basemap.
</p>

@if (_windowWidth is not null)
{
    if (_windowWidth >= 800)
    {
        <SceneView @ref="_view" Class="map-view">
            <WebScene>
                <PortalItem Id="adfad6ee6c6043238ea64e121bb6429a" />
            </WebScene>
            <LayerListWidget Position="OverlayPosition.TopRight" OnListItemCreatedHandler="OnListItemCreated" />
        </SceneView>

        <SceneView @ref="_view" Class="map-view">
            <WebScene>
                <PortalItem Id="46a87c20f09e4fc48fa3c38081e0cae6" />
            </WebScene>
            <BasemapLayerListWidget Position="OverlayPosition.TopRight" OnBaseListItemCreatedHandler="OnBaseListItemCreated" OnReferenceListItemCreatedHandler="OnReferenceListItemCreated" />
        </SceneView>
    }
    else // for mobile, move the widget off of the map so you can see the whole map
    {
        <div id="widget-holder" />
        <SceneView @ref="_view" Class="map-view">
            <WebScene>
                <PortalItem Id="adfad6ee6c6043238ea64e121bb6429a" />
            </WebScene>
            <LayerListWidget ContainerId="widget-holder" OnListItemCreatedHandler="OnListItemCreated" />
        </SceneView>
    }
}

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        int? oldWidth = _windowWidth;
        _windowWidth = await JsRuntime.InvokeAsync<int>("window.getWidth");
        if (oldWidth != _windowWidth)
        {
            StateHasChanged();
        }
    }

    private int? _windowWidth;
    private SceneView? _view;

    private Task<ListItem> OnListItemCreated(ListItem item)
    {
        item.Visible = true;
        if (item.Title?.StartsWith("Transit") ?? false)
        {
            item.Title = $"Mass {item.Title}";
        }
        return Task.Run(() => item);
    }

    private Task<ListItem> OnBaseListItemCreated(BaseListItem baseListItem)
    {
        baseListItem.Visible = true;

            
        return Task.Run(() => item); 
    }
    private Task<ListItem> OnReferenceListItemCreated(BaseListItem item)
    {
        item.Visible = true;

        return Task.Run(() => item);
    }

}