@page "/locator-methods"
@inject LocationService LocationService
<PageTitle>Locator Methods</PageTitle>
<h1>Locator Methods</h1>


<div class="form-group">

    <h2>Addresses To Locations method</h2>
    <code>var locations = await Location.AddressesToLocations([new Address("380 New York Street", "Redlands", "CA", "92373"), new Address("400 New York Street", "Redlands", "CA", "92373")]);</code>
    <label>

        <button type="button" class="btn btn-primary" @onclick="AddressesToLocations">Addresses To Locations</button>
        <b>Address Candidates:</b>
        @foreach (var location in _locations2)
        {
            <div>@location?.Address  @location?.Score - @location?.Location?.Latitude,@location?.Location?.Longitude</div>
        }
    </label>
</div>
<div class="form-group">

    <h2>Address To Locations method</h2>
    <code>var locations = await Locator.AddressToLocations(new Address("380 New York Street", "Redlands", "CA", "92373"), outFields:new(){"*"});</code>
    <label>

        <button type="button" class="btn btn-secondary" @onclick="AddressToLocations">Address To Locations</button>
        <b>Address Candidates:</b>
        @foreach (var location in _locations1)
        {
            <div>@location?.Address  @location?.Score - @location?.Location?.Latitude,@location?.Location?.Longitude</div>
        }
    </label>
</div>
<div class="form-group">

    <h2>Location To Address method</h2>
    <code>var address = await Location.LocationToAddress(new Point(longitude: -111.93, latitude: 40.74));</code>
    <label>

        <button type="button" class="btn btn-accent" @onclick="LocationToAddress">Location To Address</button>
        <b>Address:</b>
        <div>@_address?.Address  @_address?.Score</div>
    </label>
</div>
<div class="form-group">
    <h2>Suggest Locations method</h2>
    <code>List&lt;SuggestionResult&gt; results = await Location.SuggestLocations(new Point(longitude: -111.93, latitude: 40.74), "1");</code>
    <label>
        <button type="button" class="btn btn-primary" @onclick="SuggestLocations">Suggest Locations</button>
        <b>Suggestions:</b>
        @foreach (var suggestion in _suggestions)
        {
            <div>@suggestion.Text</div>
        }
    </label>

</div>
@code {

    List<SuggestionResult> _suggestions = new();
    AddressCandidate? _address = null;
    List<AddressCandidate> _locations1 = new();
    List<AddressCandidate> _locations2 = new();




    private async Task AddressesToLocations()
    {
        _locations2 = await LocationService.AddressesToLocations([new Address("380 New York Street", "Redlands", "CA", "92373"), new Address("400 New York Street", "Redlands", "CA", "92373")]);
    }

    private async Task AddressToLocations()
    {
        _locations1 = await LocationService.AddressToLocations(new Address("380 New York Street", "Redlands", "CA", "92373"), outFields: ["*"]);
    }

    private async Task SuggestLocations()
    {
        _suggestions = await LocationService.SuggestLocations(new Point(longitude: -111.93, latitude: 40.74), "1");
    }

    private async Task LocationToAddress()
    {
        _address = await LocationService.LocationToAddress(new Point(longitude: -111.93, latitude: 40.74));
    }


}