#topbar {
    background: var(--background-grey-1);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#topbar label {
    color: var(--text);
    display: block;
}

#topbar .row {
    justify-content: space-evenly;
}

.action-button {
    font-size: 16px;
    background-color: transparent;
    border: 1px solid var(--light-background);
    color: var(--text-disabled);
    height: 32px;
    width: 32px;
    text-align: center;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    padding: unset;
}

.action-button:hover,
.action-button:focus {
    background: #0079c1;
    color: #e4e4e4;
}

.active {
    background: #0079c1;
    color: #e4e4e4;
}