@page "/osm-layer"
<PageTitle>Open Street Maps Layer</PageTitle>
<h1>Open Street Maps Layer</h1>
<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/esri-layers-OpenStreetMapLayer.html">ArcGIS API for JavaScript Reference</a>
</div>
<p class="instructions">
    A simple demo of displaying an Open Street Map layer.
</p>

<SceneView Class="map-view" Zoom="1" PromptForArcGISKey="false">
    <Map Ground="world-elevation">
        <OpenStreetMapLayer />
    </Map>
</SceneView>