#viewDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#gridDiv {
    padding: 10px;
    max-width: 300px;
}
#queryResults {
    max-height: 250px;
    overflow: auto;
}
#clearButton {
    margin-top:5px;
}