#viewDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#infoDiv {
    padding: 6px;
    width: 370px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -370px;
    --calcite-ui-brand: #71C96E;
    --calcite-ui-brand-hover: #67B564;
    background-color: #2e3033;
}

#resultsDiv {
    overflow: auto;
}