@page "/scene"

<PageTitle>Scene</PageTitle>
<h1>Scene</h1>

<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/display-a-scene/">ArcGIS API for JavaScript Reference</a>
    <a class="btn btn-primary" target="_blank" href="https://www.arcgis.com/home/item.html?id=ff52218580f94d89851563f50cd1a2b2">Imagery Hybrid BaseMap</a>
</div>
<p class="instructions">
    A simple demo of a 3D Scene View with a basemap from ArcGIS Online and an added polygon graphic. Drag to pan.
</p>

<SceneView Longitude="_longitude" Latitude="_latitude" Zoom="11" Class="map-view"
           ZIndex="2000" Tilt="76">
    <Map Ground="world-elevation">
        <Basemap>
            <PortalItem Id="ff52218580f94d89851563f50cd1a2b2" />
        </Basemap>
        <GraphicsLayer>
            <Graphic Attributes="_graphicAttributes">
                <Polygon Rings="@(new[] { _mapRings })" />
                <SimpleFillSymbol Color="@(new MapColor(81, 46, 132, 0.8))">
                    <Outline Color="@(new MapColor(255, 255, 255))" Width="1" />
                </SimpleFillSymbol>
                <PopupTemplate Title="{Name}" StringContent="{Description}" />
            </Graphic>
        </GraphicsLayer>
    </Map>
</SceneView>


@code
{
    private readonly double _latitude = 33.95;
    private readonly double _longitude = -118.805;

    private readonly MapPath _mapPath = new(new MapPoint(-118.821527826096, 34.0139576938577),
        new MapPoint(-118.814893761649, 34.0080602407843),
        new MapPoint(-118.808878330345, 34.0016642996246));

    private readonly MapPath _mapRings = new(new MapPoint(-118.818984489994, 34.0137559967283),
        new MapPoint(-118.806796597377, 34.0215816298725),
        new MapPoint(-118.791432890735, 34.0163883241613),
        new MapPoint(-118.79596686535, 34.008564864635),
        new MapPoint(-118.808558110679, 34.0035027131376));
    private readonly Dictionary<string, object> _graphicAttributes = new()
    {
        { "Name", "This is a Title" },
        { "Description", "And a Description" }
    };
}