@page "/service-areas"
<PageTitle>Service Areas</PageTitle>
<h1>Service Areas</h1>
<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/find-service-areas/">ArcGIS API for JavaScript Reference</a>
</div>
<p class="instructions">
    Click on any point on the map to be shown a set of "Service Areas". Service Areas are drivable distances in 5, 10, and 15 minute bands.
</p>
<MapView @ref="View" Longitude="135.5023"
         Latitude="34.6937"
         Zoom="11"
         Class="map-view"
         OnClickAsyncHandler="OnClick">
    <Map ArcGISDefaultBasemap="arcgis-navigation" />
</MapView>

<Graphic @ref="AreaGraphic">
    <SimpleMarkerSymbol Color="@(new MapColor("white"))" Size="8" />
</Graphic>

<SimpleFillSymbol @ref="AreaFillSymbol" Color="@(new MapColor("rgba(81, 46, 132,.25)"))" />

@code {
    public MapView? View { get; set; }
    public Graphic? AreaGraphic { get; set; }
    public Symbol? AreaFillSymbol { get; set; }

    private readonly string _serviceAreaUrl =
        "https://route-api.arcgis.com/arcgis/rest/services/World/ServiceAreas/NAServer/ServiceArea_World/solveServiceArea";

    private async Task OnClick(Point mapPoint)
    {
        await AreaGraphic!.SetGeometry(mapPoint);
        await View!.ClearGraphics();
        await View.AddGraphic(AreaGraphic);
        await View.SolveServiceArea(_serviceAreaUrl, new double[] { 5, 10, 15 }, AreaFillSymbol!);
    }

}