@page "/service-areas"
<PageTitle>Service Areas</PageTitle>
<h1>Service Areas</h1>
<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/find-service-areas/">ArcGIS API for JavaScript Reference</a>
</div>
<p class="instructions">
    Click on any point on the map to be shown a set of "Service Areas". Service Areas are drivable distances in 5, 10, and 15 minute bands.
</p>
<MapView @ref="_mapView" Longitude="135.5023"
         Latitude="34.6937"
         Zoom="11"
         Class="map-view"
         OnClick="OnClick">
    <Map>
        <Basemap>
            <BasemapStyle Name="BasemapStyleName.ArcgisNavigation" />
        </Basemap>
    </Map>
</MapView>

@code {

    private async Task OnClick(ClickEvent clickEvent)
    {
        await _areaGraphic.SetGeometry(clickEvent.MapPoint);
        await _mapView!.ClearGraphics();
        await _mapView.AddGraphic(_areaGraphic);
        await _mapView.SolveServiceArea(_serviceAreaUrl, [5, 10, 15], _areaFillSymbol);
    }

    private MapView? _mapView;
    private readonly Graphic _areaGraphic = new(symbol: new SimpleMarkerSymbol(color: new MapColor("white"), size: 8));
    private readonly SimpleFillSymbol _areaFillSymbol = new(color: new MapColor(81, 46, 132, 0.25));
    private readonly string _serviceAreaUrl =
        "https://route-api.arcgis.com/arcgis/rest/services/World/ServiceAreas/NAServer/ServiceArea_World/solveServiceArea";
}