@page "/server-side-queries"
<PageTitle>Server Side Queries</PageTitle>
<h1>Server Side Queries</h1>

<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/esri-layers-FeatureLayer.html#queryFeatures">ArcGIS API for JavaScript Reference</a>
    <a class="btn btn-primary" target="_blank" href="https://www.arcgis.com/home/item.html?id=234d2e3f6f554e0e84757662469c26d3">SF Crimes by Block Group</a>
</div>
<p class="instructions">
    This sample demonstrates a query on a feature layer that lives on a server. On the click action, the feature layer is queried to find which features were clicked, and then the results are used to open a custom popup.
</p>

<MapView @ref="_mapView"
         OnClick="OnClick"
         OnLayerViewCreate="OnLayerViewCreate"
         Class="map-view">
    <Map>
        <Basemap>
            <BasemapStyle Name="BasemapStyleName.ArcgisDarkGray" />
        </Basemap>
        <FeatureLayer @ref="_featureLayer" OutFields="@(["*"])">
            <PortalItem PortalItemId="234d2e3f6f554e0e84757662469c26d3" />
        </FeatureLayer>
    </Map>
    <Extent Xmax="-13620669.8431"
            Xmin="-13640432.281"
            Ymax="4556710.618000001"
            Ymin="4536523.6511999965">
        <SpatialReference Wkid="102100" />
    </Extent>
    <PopupWidget @ref="_popup" DockEnabled="true">
        <PopupDockOptions ButtonEnabled="false"
                          BreakPoint="@(new BreakPoint(false))"
                          Position="PopupDockPosition.BottomRight" />
    </PopupWidget>
    <LegendWidget Position="OverlayPosition.BottomLeft">
        <LegendLayerInfos LayerId="@(_featureLayer?.Id)" />
    </LegendWidget>
    <CustomOverlay Position="OverlayPosition.TopRight">
        <div id="optionsDiv" class="esri-widget">
            <p>
                Select a query type and click a point on the map to view the results.
            </p>
            <select id="query-type" @bind="_queryType" class="esri-widget">
                <option value="basic">Basic Query</option>
                <option value="distance">Query By Distance</option>
            </select>
        </div>
    </CustomOverlay>
</MapView>

@code {
    
    [Inject]
    public required IJSRuntime JsRuntime { get; set; }

    private async Task OnLayerViewCreate(LayerViewCreateEvent createEvent)
    {
        if (createEvent.Layer?.Id == _featureLayer?.Id)
        {
            await _mapView!.SetExtent(_featureLayer!.FullExtent!);
        }
    }

    private async Task OnClick(ClickEvent clickEvent)
    {
        Query query = await _featureLayer!.CreateQuery();
        query.Geometry = clickEvent.MapPoint;
        query.Distance = Distance;
        query.Units = Unit;
        query.SpatialRelationship = SpatialRelationship.Intersects;
        query.ReturnGeometry = true;
        query.ReturnQueryGeometry = true;
        query.OutFields = ["*"];
            
        FeatureSet result = (await _featureLayer!.QueryFeatures(query))!;
        await _mapView!.ClearGraphics();
        Graphic pointGraphic = new(clickEvent.MapPoint, _markerSymbol);

        if (_queryType == "distance")
        {
            Graphic buffer = new(result.QueryGeometry, _bufferSymbol);
            await _mapView.AddGraphics([pointGraphic, buffer]);
        }
        else
        {
            await _mapView.AddGraphic(pointGraphic);
        }

        await _popup!.SetFeatures(result.Features);
    }

    private double? Distance => _queryType == "distance" ? 0.5 : null;
    private QueryUnits? Unit => _queryType == "distance" ? QueryUnits.Miles : null;
    private MapView? _mapView;
    private PopupWidget? _popup;
    private FeatureLayer? _featureLayer;
    private readonly SimpleMarkerSymbol _markerSymbol = new(new Outline(new MapColor(255, 255, 255), 1),
        new MapColor(0, 0, 139));
    private readonly SimpleFillSymbol _bufferSymbol = new(new Outline(new MapColor(255, 255, 255), 1.5),
        new MapColor(173, 216, 230, 0.2));
    private string? _queryType;
}