@page "/unique-value"
<PageTitle>Unique Value Renderers</PageTitle>
<h1>Unique Value Renderers</h1>
<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/esri-renderers-UniqueValueRenderer.html">ArcGIS API for JavaScript Reference</a>
    <a class="btn btn-primary" target="_blank"
       href="https://arcgis.com/home/item.html?id=7afec250e02845868db89c83949a672f">OpenStreetMap Highways for North
        America</a>
</div>
<p class="instructions">
    A US Highway map rendered with a custom <code>Unique Value Renderer</code> that color-codes different road types.
</p>
<MapView Class="map-view" Longitude="-95.4327" Latitude="29.77624" Scale="18056">
    <Constraints SnapToZoom="false" />
    <Map>
        <Basemap>
            <PortalItem PortalItemId="9cc4e190b8764e8880bd77cb16b9a30a" />
        </Basemap>
        <FeatureLayer Title="OSM Highways of North America"
                      MinScale="0" MaxScale="0"
                      Renderer="_uniqueValueRenderer">
            <OrderByInfo Order="SortOrder.Descending" Field="maxspeed"/>
            <PortalItem PortalItemId="7afec250e02845868db89c83949a672f"/>
        </FeatureLayer>
    </Map>
    @if (_showLegend)
    {
        <LegendWidget Position="OverlayPosition.BottomLeft" />
    }
</MapView>
<button @onclick="() => _showLegend = !_showLegend" class="btn btn-primary">Toggle Legend</button>