@page "/vector-layer"
<PageTitle>VectorLayer</PageTitle>
<h1>Vector Layer</h1>
<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/add-a-vector-tile-layer/">ArcGIS API for JavaScript Reference</a>
</div>
<p class="instructions">
    A simple demo of loading a Vector Tile Layer from ArcGIS Online.
</p>
<MapView Longitude="-118.80543" Latitude="34.02700" Zoom="13" Class="map-view">
    <Map>
        <Basemap>
            <BasemapStyle Name="BasemapStyleName.ArcgisTopographic" />
        </Basemap>
        <VectorTileLayer
            Url="https://vectortileservices3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Santa_Monica_Mountains_Parcels_VTL/VectorTileServer/" />
    </Map>
</MapView>