.control-row {
    display: flex;
    flex-direction: row;
}

#control-set {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 24rem;
    align-content: space-between;
    width: 100%;
}

#gallery-box {
    position: relative;
    max-height: 20rem;
    overflow-y: scroll;
}

@media (max-width: 799px) {
    #control-set {
        max-height: 20vh;
        width: 100%;
    }
}