@page "/wmtslayers"


<h3>WMTS Layers</h3>

<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/esri-layers-WMTSLayer.html">ArcGIS API for JavaScript</a>
    <a class="btn btn-primary" target="_blank" href="something"></a>
</div>
<Label>
    The layers used in this sample are from Instituto Geográfico Nacional. Use the BasemapToggle widget to toggle between the layers. This sample shows how to add an instance of WMTSLayer.
    The WMTSLayer is used to create layers based on OGC Web Map Tile Service (WMTS). Typically, a WMTS service acts as a directory of WMTS layers, you can set a specific layer using the activeLayer property, (or else it will default to the first sublayer). 
    The WMTSLayer initially executes a WMTS GetCapabilities request, which might require CORS or a proxy page.</Label>
 <button disabled="@(!_markup)">Show/Hide Basemap Toggle </button> 

<MapView @ref="@_view" class="map-view"
         Center="@(new Point(-3.7038, 40.4168))">
    <Map>
        <WMTSLayer 
            Url="https://www.ign.es/wmts/ign-base"
            ActiveLayer="@_plainActiveLayer"></WMTSLayer>  
    </Map>
</MapView> 

@code {


    private MapView? _view;

    private bool _markup = true;

    private WMTSSublayer? _plainActiveLayer => new WMTSSublayer
    {
        Id = "IGNBase-gris",
        TileMatrixSetId = "GoogleMapsCompatible"
    };

    private WMTSLayer? _wtmsSampleLayer => new WMTSLayer()
#pragma warning disable
        {
            Url = "https://www.ign.es/wmts/ign-base",
            ActiveLayer = new WMTSSublayer
            {
                Id = "IGNBase-gris",
                TileMatrixSetId = "GoogleMapsCompatible"
            }
#pragma warning restore
        };


}
