@using System.ComponentModel
<div class="esri-ui calcite-theme-light"
     style="@(Position == OverlayPosition.Manual ? "" : "inset: 15px 15px 30px;")">
    <div class="esri-ui-inner-container">
        <div class="@CalculatedPosition" style="pointer-events: all;">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    [RequiredProperty]
    public OverlayPosition Position { get; set; }
    [Parameter, EditorRequired]
    [RequiredProperty]
    public RenderFragment? ChildContent { get; set; }

    public void Refresh()
    {
        StateHasChanged();
    }

    private string CalculatedPosition => Position switch {
        OverlayPosition.BottomLeft => "esri-ui-bottom-left esri-ui-corner",
        OverlayPosition.BottomRight => "esri-ui-bottom-right esri-ui-corner",
        OverlayPosition.TopLeft => "esri-ui-top-left esri-ui-corner",
        OverlayPosition.TopRight => "esri-ui-top-right esri-ui-corner",
        OverlayPosition.Manual => "",
        _ => throw new InvalidEnumArgumentException()
        };
}