@using System.ComponentModel
<div class="esri-ui calcite-theme-light"
     style="@(Position == OverlayPosition.Manual ? "" : "inset: 30px 15px;")">
    <div class="esri-ui-inner-container">
        <div class="@CalculatedPosition" style="pointer-events: all;">
            @ChildContent
        </div>
    </div>
</div>