@page "/about"
<h1>About</h1>

<p>
    The dymaptic Blazor API wraps the esri ArcGIS Javascript API, providing tag-based web-map building for any Asp.NET Core
    web application. Get the source at <a href="https://github.com/dymaptic/dy-blazor-api">https://github.com/dymaptic/dy-blazor-api</a>.
    Useful instructions are in <u>ReadMe.md</u>.
</p>
<p>
    Need help creating your own Geospatial Information System, maps, or data applications? Visit
    <a href="https://www.dymaptic.com">dymaptic.com</a> and reach out, let us know how we can help you!
</p>