#source-code {
    width: calc(100vw - 3.5rem);
    overflow: auto;
}

#source-code ::deep pre {
    overflow: unset;
}

#source-code ::deep div {
    background: transparent!important;
}

@media (min-width: 800px) {
    #source-code {
        width: calc(100vw - 300px - 3.5rem);
    }  
}