@page "/Test"
<h3>Test</h3>
<MapView Class="map-view">
    <Map>
        <FeatureLayer>
            <PortalItem Id="8444e275037549c1acab02d2626daaee" />
        </FeatureLayer>
    </Map>
</MapView>
@code {
    
}