@page "/web-map"
<PageTitle>WebMap</PageTitle>
<h1>WebMap</h1>
<a target="_blank" href="https://developers.arcgis.com/javascript/latest/display-a-web-map/">ArcGIS API for JavaScript</a>

<MapView Class="map-view">
    <WebMap>
        <PortalItem Id="41281c51f9de45edaf1c8ed44bb10e30" />
    </WebMap>
    <ScaleBarWidget Position="OverlayPosition.BottomLeft" />
    <LegendWidget Position="OverlayPosition.TopRight" />
</MapView>