<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/" />
        <link rel="icon" href="_content/dymaptic.GeoBlazor.Core.Sample.Shared/favicon.ico" />
        <link rel="stylesheet" href="_content/dymaptic.GeoBlazor.Core.Sample.Shared/css/bootstrap/bootstrap.min.css" />
        <link href="_content/dymaptic.GeoBlazor.Core.Sample.Shared/css/site.css" rel="stylesheet" />
        <link href="dymaptic.GeoBlazor.Core.Sample.WebApp.styles.css" rel="stylesheet" />
        <link href="_content/dymaptic.GeoBlazor.Core" />
        <link href="_content/dymaptic.GeoBlazor.Core.Sample.Shared" />
        <script src="_content/dymaptic.GeoBlazor.Core.Sample.Shared/functions.js"></script>
        <link href="_content/dymaptic.GeoBlazor.Core/assets/esri/themes/light/main.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/@@esri/calcite-components@@2.0.0/dist/calcite/calcite.esm.js"
                    type="module"></script>
        <link href="https://cdn.jsdelivr.net/npm/@@esri/calcite-components@@2.0.0/dist/calcite/calcite.css"
              rel="stylesheet" type="text/css" />
        <HeadOutlet @rendermode="@_configuredRenderMode" />
    </head>

    <body>
        <RenderModeSelector @rendermode="InteractiveServer" />
        <Routes @rendermode="@_configuredRenderMode" />
        <script src="_framework/blazor.web.js"></script>
    </body>
</html>

@code {

    [Inject]
    private IConfiguration Configuration { get; set; } = default!;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _configuredRenderMode = Configuration.GetValue<string?>("RenderMode") switch
        {
            "Server" => InteractiveServer,
            "WebAssembly" => InteractiveWebAssembly,
            "Auto" => InteractiveAuto,
            _ => _configuredRenderMode
        };
    }

    private IComponentRenderMode _configuredRenderMode = InteractiveAuto;
}