@inherits MapComponent

<div class="validation-message">@((MarkupString)(ErrorMessage ?? string.Empty))</div>
<CascadingValue Name="View" Value="this">
    <CascadingValue Name="Parent" Value="this">
        <CascadingValue Name="JsModule" Value="ViewJsModule">
            <CascadingValue Name="MapRendered" Value="MapRendered">
                <div class="map-wrapper">
                    <div id="@($"map-container-{Id}")" class="@Class" style="@Style">
                        @ChildContent
                    </div>
                    <div class="dymaptic-branding">
                        .NET Blazor Wrapper by
                        <a href="https://www.dymaptic.com">
                            <img height="12" src="_content/dymaptic.Blazor.GIS.API.Core/images/dymaptic-logo-circle-icon.png" />dymaptic
                        </a>
                    </div>
                </div>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>