.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("images/GradientBackground.jpg");
    background-size: cover;
}

.content {
    overflow: auto;
    height: calc(100vh - 6rem);
}

main {
    flex: 1;
    overflow: hidden;
}

.sidebar {
    z-index: 2000;
    background-image: linear-gradient(180deg, var(--geoblazor-tertiary) 0%, var(--geoblazor-primary) 100%);
}

.top-row {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    height: 12rem;
}

.top-row .btn {
    font-size: 1.5rem;
}

.top-row ::deep a, .top-row .btn-link, .top-row button, .top-row label {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 800px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 280px;
        height: 100vh;
        position: sticky;
        top: 0;
        overflow-y: auto;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
        height: 6rem;
        justify-content: space-between;
        flex-direction: row;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/*noinspection CssInvalidMediaFeature*/
@media (horizontal-viewport-segments: 2) or (screen-spanning: single-fold-horizontal) {
    .sidebar {
        width: 50%;
    }
}