@using System.Text.Json.Serialization
@inherits LayoutComponentBase
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject IJSRuntime JsRuntime

<PageTitle>dymaptic.GeoBlazor.Core</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (!NavigationManager.Uri.Contains("source-code") && 
                NavigationManager.Uri != NavigationManager.BaseUri &&
                !NavigationManager.Uri.Contains("about"))
            {
                <button type="button" @onclick="ViewPageSource">Source Code</button>
            }
            <button type="button" @onclick="ViewRepositorySource">GitHub Repo</button>
            @{
                string? apiKey = Configuration["ArcGISApiKey"];
                string? loggedIn = Configuration["LoggedIn"];
                string? clientId = Configuration["ClientId"];
            }
            @if (string.IsNullOrWhiteSpace(apiKey))
            {
                <label>Enter ArcGIS API Key:<input id="api-key-field" type="text" @bind="ApiKey" /></label>
                <button id="api-key-go" @onclick="StateHasChanged">GO</button>
                if (!string.IsNullOrWhiteSpace(clientId))
                {
                    <span>&nbsp;OR&nbsp;</span>
                    <button @onclick="LoginToArcGis">Login to ArcGIS</button>
                }
            }
            else if ((loggedIn != "true") && !string.IsNullOrWhiteSpace(clientId))
            {
                <button @onclick="LoginToArcGis">Login to ArcGIS</button>
            }
            <a href="about">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        string uri = NavigationManager.Uri;
        if (uri.Contains("code="))
        {
            string code = uri[(uri.IndexOf("code=", StringComparison.OrdinalIgnoreCase) + 5)..];
            string callbackUri = uri[..uri.IndexOf("?", StringComparison.Ordinal)];
            HttpResponseMessage response = await HttpClient.PostAsync("https://www.arcgis.com/sharing/rest/oauth2/token/",
                new FormUrlEncodedContent(new Dictionary<string, string>
                {
                    ["client_id"] = Configuration["ClientId"],
                    ["grant_type"] = "authorization_code",
                    ["redirect_uri"] = callbackUri,
                    ["code"] = code
                }));
            TokenResponse? tokenResponse = await response.Content.ReadFromJsonAsync<TokenResponse>();
            Configuration["ArcGISApiKey"] = tokenResponse?.AccessToken.Trim('.');
            Configuration["LoggedIn"] = "true";
            NavigationManager.NavigateTo(callbackUri);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (ApiKey is null)
        {
            var localStorageCopy = await JsRuntime.InvokeAsync<string>("loadApiKeyFromLocalStorage");
            if (!string.IsNullOrWhiteSpace(localStorageCopy))
            {
                Configuration["ArcGISApiKey"] = localStorageCopy;
                StateHasChanged();
            }
        }
    }
    
    private string ApiKey
    {
        get => Configuration["ArcGISApiKey"];
        set
        {
            Configuration["ArcGISApiKey"] = value;
            if (JsRuntime is IJSInProcessRuntime)
            {
                JsRuntime.InvokeVoidAsync("saveApiKeyToLocalStorage", value);
            }
            
            NavigationManager.NavigateTo(NavigationManager.Uri, true);
        }
    }

    private void LoginToArcGis()
    {
        string callback = NavigationManager.Uri;
        string loginUrl = $"https://www.arcgis.com/sharing/rest/oauth2/authorize?client_id={Configuration["ClientId"]}" +
            $"&response_type=code&expiration=3600&redirect_uri={callback}";
        NavigationManager.NavigateTo(loginUrl);
    }
    
    private void ViewPageSource()
    {
        string currentPageUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.NavigateTo($"source-code/{currentPageUrl}");
    }
    
    private void ViewRepositorySource()
    {
        NavigationManager.NavigateTo("https://github.com/dymaptic/GeoBlazor");
    }

    private record TokenResponse([property: JsonPropertyName("access_token")] string AccessToken);
}