@page "/"
@attribute [RenderModeInteractiveServer(prerender: false)]

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MapView Longitude="_longitude" Latitude="_latitude" Zoom="11" Style="height: 400px; width: 100%;">
    <WebMap>
        <PortalItem Id="4a6cb60ebbe3483a805999d481c2daa5" />
    </WebMap>
</MapView>

@code {
    private readonly double _latitude = 34.027;
    private readonly double _longitude = -118.805;
}
