@inherits TestRunnerBase

@{
    base.BuildRenderTree(__builder);
}

@code {

    [TestMethod]
    public async Task TestLayerListWidgetWithLegends(Action renderHandler, 
        Func<ListItem, Task<ListItem>> listItemCreatedHandler)
    {
        AddMapRenderFragment(
            @<SceneView Class="map-view" OnViewRendered="renderHandler">
                <WebScene>
                    <PortalItem PortalItemId="adfad6ee6c6043238ea64e121bb6429a" />
                </WebScene>
                <LayerListWidget Position="OverlayPosition.TopRight" 
                                 OnListItemCreatedHandler="listItemCreatedHandler" />
            </SceneView>);

        await WaitForMapToRender();

        // 9 layers in the web scene
        for (int i = 0; i < 9; i++)
        {
            ListItem item = await WaitForListItemToBeCreated();
            Console.WriteLine($"List Item created: {item.Title}");
            await item.SetVisibility(true);
            await item.SetPanel(new ListItemPanelWidget(showLegendContent: true, open: true));
        }
        
        await AssertJavaScript("layerListWidgetAsserts.assertHasLegends");
    }
    
    [TestMethod]
    public async Task TestLayerListWidgetWithStringContent(Action renderHandler, 
        Func<ListItem, Task<ListItem>> listItemCreatedHandler)
    {
        AddMapRenderFragment(
            @<SceneView Class="map-view" OnViewRendered="renderHandler">
                <WebScene>
                    <PortalItem PortalItemId="adfad6ee6c6043238ea64e121bb6429a" />
                </WebScene>
                <LayerListWidget Position="OverlayPosition.TopRight" 
                                 OnListItemCreatedHandler="listItemCreatedHandler" />
            </SceneView>);

        await WaitForMapToRender();

        // 9 layers in the web scene
        for (int i = 0; i < 9; i++)
        {
            ListItem item = await WaitForListItemToBeCreated();
            Console.WriteLine($"List Item created: {item.Title}");
            await item.SetVisibility(true);
            await item.SetPanel(new ListItemPanelWidget(content: ["Test String Content"], open: true));
        }
        await AssertJavaScript("layerListWidgetAsserts.assertHasStringContent");
    }
    
    [TestMethod]
    public async Task TestLayerListWidgetWithHtmlContent(Action renderHandler,
        Func<ListItem, Task<ListItem>> listItemCreatedHandler)
    {
        ElementReference? htmlRef = null;
        
        AddMapRenderFragment(
            @<div>
                <SceneView Class="map-view" OnViewRendered="renderHandler">
                    <WebScene>
                        <PortalItem PortalItemId="adfad6ee6c6043238ea64e121bb6429a" />
                    </WebScene>
                    <LayerListWidget Position="OverlayPosition.TopRight" 
                                     OnListItemCreatedHandler="listItemCreatedHandler" />
                </SceneView>
                <div @ref="htmlRef">
                    <span class="test-html">Test HTML Content</span>
                </div>
            </div>);

        await WaitForMapToRender();

        // 9 layers in the web scene
        for (int i = 0; i < 9; i++)
        {
            ListItem item = await WaitForListItemToBeCreated();
            Console.WriteLine($"List Item created: {item.Title}");
            await item.SetVisibility(true);
            await item.SetPanel(new ListItemPanelWidget(content: [htmlRef!], open: true));
        }
        await AssertJavaScript("layerListWidgetAsserts.assertHasHtmlContent");
    }
    
    [TestMethod]
    public async Task TestLayerListWidgetWithWidgetContent(Action renderHandler,
        Func<ListItem, Task<ListItem>> listItemCreatedHandler)
    {
        SearchWidget? searchWidget = null;
        SceneView? sceneView = null;
        
        AddMapRenderFragment(
            @<div>
                <SceneView @ref="sceneView" Class="map-view" OnViewRendered="renderHandler">
                    <WebScene>
                        <PortalItem PortalItemId="adfad6ee6c6043238ea64e121bb6429a" />
                    </WebScene>
                    <LayerListWidget Position="OverlayPosition.TopRight" 
                                     OnListItemCreatedHandler="listItemCreatedHandler" />
                </SceneView>
                <SearchWidget @ref="searchWidget" MapView="sceneView" />
            </div>);

        await WaitForMapToRender();

        // 9 layers in the web scene
        for (int i = 0; i < 9; i++)
        {
            ListItem item = await WaitForListItemToBeCreated();
            Console.WriteLine($"List Item created: {item.Title}");
            await item.SetVisibility(true);
            await item.SetPanel(new ListItemPanelWidget(content: [searchWidget!], open: true));
        }

        await Task.Delay(2000); // wait for the search widgets to render properly
        await AssertJavaScript("layerListWidgetAsserts.assertHasWidgetContent");
    }
}