@inherits TestRunnerBase

@{
    base.BuildRenderTree(__builder);
}

@code {

    [TestMethod]
    public async Task TestCanRenderBasemapGalleryWidget(Action renderHandler)
    {
        AddMapRenderFragment(
            @<MapView class="map-view" OnViewRendered="renderHandler">

                <Map>
                    <Basemap>
                        <BasemapStyle Name="BasemapStyleName.ArcgisImagery" />
                    </Basemap>
                </Map>
                <BasemapGalleryWidget />

            </MapView>);

        await WaitForMapToRender();
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.BasemapGallery");
    }

    [TestMethod]
    public async Task TestCanRenderBasemapLayerListWidget(Action renderHandler)
    {
        var referenceHandlerCalled = false;

        Task<ListItem> OnReferenceListItemCreatedHandler(ListItem item)
        {
            Assert.IsNotNull(item);
            referenceHandlerCalled = true;
            return Task.FromResult(item);
        }

        var baseHandlerCalled = false;
        
        Task<ListItem> OnBaseListItemCreatedHandler(ListItem item)
        {
            Assert.IsNotNull(item);
            baseHandlerCalled = true;
            return Task.FromResult(item);
        }

        AddMapRenderFragment(
            @<MapView class="map-view" OnViewRendered="renderHandler">

                <Map>
                    <Basemap>
                        <TileLayer>
                            <PortalItem PortalItemId="1b243539f4514b6ba35e7d995890db1d" />
                        </TileLayer>
                        <VectorTileLayer Opacity="0.75" IsBasemapReferenceLayer="true">
                            <PortalItem PortalItemId="6976148c11bd497d8624206f9ee03e30" />
                        </VectorTileLayer>
                    </Basemap>
                </Map>
                <BasemapLayerListWidget OnReferenceListItemCreatedHandler="OnReferenceListItemCreatedHandler"
                                        OnBaseListItemCreatedHandler="OnBaseListItemCreatedHandler" />

            </MapView>);

        await WaitForMapToRender();
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.BasemapLayerList");
        Assert.IsTrue(referenceHandlerCalled);
        Assert.IsTrue(baseHandlerCalled);
    }

    [TestMethod]
    public async Task TestCanRenderBasemapLayerListWidgetWithoutHandler(Action renderHandler)
    {
        AddMapRenderFragment(
            @<MapView class="map-view" OnViewRendered="renderHandler">

                <Map>
                    <Basemap>
                        <TileLayer>
                            <PortalItem PortalItemId="1b243539f4514b6ba35e7d995890db1d" />
                        </TileLayer>
                        <VectorTileLayer Opacity="0.75">
                            <PortalItem PortalItemId="6976148c11bd497d8624206f9ee03e30" />
                        </VectorTileLayer>
                    </Basemap>
                </Map>
                <BasemapLayerListWidget />

            </MapView>);

        await WaitForMapToRender();
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.BasemapLayerList");
    }

    [TestMethod]
    public async Task TestBasemapToggleFailsWithoutNextBasemap(Action renderHandler)
    {
        AddMapRenderFragment(
            @<MapView class="map-view" OnViewRendered="renderHandler">

                <Map>
                    <Basemap>
                        <BasemapStyle Name="BasemapStyleName.ArcgisImagery" />
                    </Basemap>
                </Map>
                <BasemapToggleWidget />

            </MapView>);

        await Assert.ThrowsAsync<AggregateException>(async () =>
            await WaitForMapToRender());
    }

    [TestMethod]
    public async Task TestCanRenderBasemapToggleWidget(Action renderHandler)
    {
        AddMapRenderFragment(
            @<MapView class="map-view" OnViewRendered="renderHandler">

                <Map>
                    <Basemap>
                        <BasemapStyle Name="BasemapStyleName.ArcgisImagery" />
                    </Basemap>
                </Map>
                <BasemapToggleWidget NextBasemapStyle="BasemapStyleName.ArcgisTopographic" />

            </MapView>);

        await WaitForMapToRender();
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.BasemapToggle");
    }

    [TestMethod]
    public async Task TestCanRenderCompassWidget(Action renderHandler)
    {
        AddMapRenderFragment(
            @<MapView class="map-view" OnViewRendered="renderHandler">

                <Map>
                    <Basemap>
                        <BasemapStyle Name="BasemapStyleName.ArcgisImagery" />
                    </Basemap>
                </Map>
                <CompassWidget />

            </MapView>);

        await WaitForMapToRender();
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.Compass");
    }

    [TestMethod]
    public async Task TestCanRenderHomeWidget(Action renderHandler)
    {
        AddMapRenderFragment(
            @<MapView class="map-view" OnViewRendered="renderHandler">

                <Map>
                    <Basemap>
                        <BasemapStyle Name="BasemapStyleName.ArcgisImagery" />
                    </Basemap>
                </Map>
                <HomeWidget />

            </MapView>);

        await WaitForMapToRender();
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.Home");
    }

    [TestMethod]
    public async Task TestCanRenderLayerListWidget(Action renderHandler)
    {
        var handlerWasCalled = false;

        Task<ListItem> OnListItemCreatedHandler(ListItem item)
        {
            Assert.IsNotNull(item);
            handlerWasCalled = true;

            return Task.FromResult(item);
        }

        AddMapRenderFragment(
            @<MapView class="map-view" OnViewRendered="renderHandler">

                <WebMap>
                    <PortalItem PortalItemId="237b9584339446a0b56317b5962a4971" />
                </WebMap>
                <LayerListWidget OnListItemCreatedHandler="OnListItemCreatedHandler" />

            </MapView>);

        await WaitForMapToRender();
        await Task.Delay(2000); // Allow time for the widget to be created
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.LayerList");
        Assert.IsTrue(handlerWasCalled);
    }

    [TestMethod]
    public async Task TestCanRenderLegendWidget(Action renderHandler)
    {
        AddMapRenderFragment(
    @<MapView class="map-view" OnViewRendered="renderHandler">

        <Map>
            <Basemap>
                <BasemapStyle Name="BasemapStyleName.ArcgisImagery" />
            </Basemap>
        </Map>
        <LegendWidget />

            </MapView>
    );

        await WaitForMapToRender();
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.Legend");
    }

    [TestMethod]
    public async Task TestCanRenderDistanceMeasurementWidgetWithLinearUnits(Action renderHandler)
    {
        AddMapRenderFragment(
            @<MapView class="map-view" OnViewRendered="renderHandler">
                <Map>
                    <Basemap>
                        <BasemapStyle Name="BasemapStyleName.ArcgisImagery" />
                    </Basemap>
                </Map>
                <MeasurementWidget LinearUnit="SystemOrLengthUnit.NauticalMiles" />
            </MapView>
    );
        await WaitForMapToRender();
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.Measurement");
    }

    [TestMethod]
    public async Task TestCanRenderDistanceMeasurementWidgetWithAreaUnits(Action renderHandler)
    {
        AddMapRenderFragment(
            @<MapView class="map-view" OnViewRendered="renderHandler">
                <Map>
                    <Basemap>
                        <BasemapStyle Name="BasemapStyleName.ArcgisImagery" />
                    </Basemap>
                </Map>
                <MeasurementWidget AreaUnit="SystemOrAreaUnit.SquareKilometers" />
            </MapView>
    );
        await WaitForMapToRender();
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.Measurement");
    }

    [TestMethod]
    public async Task TestCanRenderDistanceMeasurementWidgetWithoutLengthOrAreaUnits(Action renderHandler)
    {
        AddMapRenderFragment(
            @<MapView class="map-view" OnViewRendered="renderHandler">
                <Map>
                    <Basemap>
                        <BasemapStyle Name="BasemapStyleName.ArcgisImagery" />
                    </Basemap>
                </Map>
                <MeasurementWidget />
            </MapView>
        );
        await WaitForMapToRender();
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.Measurement");
    }




    [TestMethod]
    public async Task TestCanRenderLocateWidget(Action renderHandler)
    {
        AddMapRenderFragment(
    @<MapView class="map-view" OnViewRendered="renderHandler">

        <Map>
            <Basemap>
                <BasemapStyle Name="BasemapStyleName.ArcgisImagery" />
            </Basemap>
        </Map>
        <LocateWidget />

    </MapView>);

        await WaitForMapToRender();
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.Locate");
    }

    [TestMethod]
    public async Task TestCanRenderPopupWidget(Action renderHandler)
    {
        AddMapRenderFragment(
    @<MapView class="map-view" OnViewRendered="renderHandler">

        <Map>
            <Basemap>
                <BasemapStyle Name="BasemapStyleName.ArcgisImagery" />
            </Basemap>
        </Map>
        <PopupWidget />

    </MapView>);

        await WaitForMapToRender();
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.Popup");
    }

    [TestMethod]
    public async Task TestCanRenderScaleBarWidget(Action renderHandler)
    {
        AddMapRenderFragment(
    @<MapView class="map-view" OnViewRendered="renderHandler">

        <Map>
            <Basemap>
                <BasemapStyle Name="BasemapStyleName.ArcgisImagery" />
            </Basemap>
        </Map>
        <ScaleBarWidget />

    </MapView>);

        await WaitForMapToRender();
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.ScaleBar");
    }

    [TestMethod]
    public async Task TestCanRenderOutsideOfMapViewWithViewRef(Action renderHandler)
    {
        HomeWidget? homeWidget = null;
        MapView? mapView = null;
        bool widgetCreated = false;
        void OnWidgetCreated()
        {
            widgetCreated = true;
        }
        AddMapRenderFragment(
    @<div>
        <MapView @ref="mapView" class="map-view" OnViewRendered="renderHandler">
            <Map>
                <Basemap>
                    <BasemapStyle Name="BasemapStyleName.ArcgisImagery" />
                </Basemap>
            </Map>
        </MapView>
        <HomeWidget @ref="homeWidget" MapView="@mapView"
                    OnWidgetCreated="OnWidgetCreated" />
    </div>);

        await WaitForMapToRender();

        while (!widgetCreated)
        {
            await Task.Delay(100);
        }

        await AssertJavaScript("elementExists", args: $"widget-container-{homeWidget!.Id}");
    }

    [TestMethod]
    public async Task TestRenderOutsideOfMapViewWithoutReferenceThrows(Action renderHandler)
    {
        AddMapRenderFragment(
    @<div>
        <MapView class="map-view" OnViewRendered="renderHandler">
            <Map>
                <Basemap>
                    <BasemapStyle Name="BasemapStyleName.ArcgisImagery" />
                </Basemap>
            </Map>
        </MapView>
        <HomeWidget />
    </div>);

        await Assert.ThrowsAsync<MissingMapViewReferenceException>(async () => await WaitForMapToRender());
    }

    [TestMethod]
    public async Task TestCanRenderOutsideOfMapViewWithContainerId(Action renderHandler)
    {
        HomeWidget? homeWidget = null;
        bool widgetCreated = false;
        void OnWidgetCreated()
        {
            widgetCreated = true;
        }
        AddMapRenderFragment(
            @<div>
                <div id="external-container"></div>
                <MapView class="map-view" OnViewRendered="renderHandler">
                    <Map>
                        <Basemap>
                            <BasemapStyle Name="BasemapStyleName.ArcgisImagery" />
                        </Basemap>
                    </Map>
                    <HomeWidget @ref="homeWidget" ContainerId="external-container"
                                OnWidgetCreated="OnWidgetCreated" />
                </MapView>
            </div>);

        await WaitForMapToRender();

        while (!widgetCreated)
        {
            await Task.Delay(100);
        }

        await AssertJavaScript("elementExists", args: $"widget-container-{homeWidget!.Id}");
    }
    
    [TestMethod]
    public async Task TestCanRenderManyWidgetsOnOneMap(Action renderHandler)
    {
        AddMapRenderFragment(
            @<MapView class="map-view" OnViewRendered="renderHandler">

                <Map>
                    <Basemap>
                        <BasemapStyle Name="BasemapStyleName.ArcgisImagery" />
                    </Basemap>
                </Map>
                <BasemapGalleryWidget />
                <BasemapLayerListWidget />
                <BasemapToggleWidget NextBasemapStyle="BasemapStyleName.ArcgisTopographic" />
                <CompassWidget />
                <HomeWidget />
                <LayerListWidget />
                <LegendWidget />
                <MeasurementWidget LinearUnit="SystemOrLengthUnit.NauticalMiles" />
                <LocateWidget />
                <ScaleBarWidget />
                <SearchWidget />

            </MapView>);

        await WaitForMapToRender();
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.BasemapGallery");
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.BasemapLayerList");
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.BasemapToggle");
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.Compass");
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.Home");
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.LayerList");
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.Legend");
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.Measurement");
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.Locate");
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.ScaleBar");
        await AssertJavaScript("assertWidgetExists", args: "esri.widgets.Search");
    }

    [TestMethod]
    public async Task TestCanUpdateWidgetPosition(Action renderHandler)
    {
        MapView? mapView = null;
        DistanceMeasurement2DWidget? distanceWidget = null;
        AddMapRenderFragment(
            @<div>
                <MapView Class="map-view" @ref="mapView" OnViewRendered="renderHandler">
                    <WebMap>
                        <PortalItem ExcludeApiKey="true" PortalItemId="990d0191f2574db495c4304a01c3e65b" />
                    </WebMap>
                    <DistanceMeasurement2DWidget @ref="distanceWidget"
                                                 Position="OverlayPosition.BottomRight" />
                </MapView>

                <div id="external-div" style="height: 100px; width: 400px;"></div>
            </div>);

        await WaitForMapToRender();

        // in position on map view
        await AssertJavaScript("assertWidgetPosition",
            args: [distanceWidget!.Id, "bottom-right"]);
        
        await distanceWidget!.SetContainerId("external-div");
        
        // in custom container
        await AssertJavaScript("assertObjectHasPropertyWithValue", 
            args: [distanceWidget.Id, "container.parentElement.id", "external-div"]);

        // not in position
        await Assert.ThrowsAsync<Exception>(async() => await AssertJavaScript("assertWidgetPosition",
            args: [distanceWidget.Id, "bottom-right"]));

        await distanceWidget.SetPosition(OverlayPosition.BottomRight);
        
        // returned to position
        await AssertJavaScript("assertWidgetPosition",
            args: [distanceWidget!.Id, "bottom-right"]);
    }
}