# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Run Tests

on:
  push:
    branches: [ "test" ]
  workflow_dispatch:
    
concurrency:
  group: test
  cancel-in-progress: true

jobs:
  test:
    runs-on: [self-hosted, Windows, X64]
    outputs:
      app-token: ${{ steps.app-token.outputs.token }}
    timeout-minutes: 90
    steps:
    - name: Generate Github App token
      uses: actions/create-github-app-token@v2
      id: app-token
      with:
        app-id: ${{ secrets.SUBMODULE_APP_ID }}
        private-key: ${{ secrets.SUBMODULE_PRIVATE_KEY }}
        owner: ${{ github.repository_owner }}
        repositories: 'GeoBlazor'
    
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4
      with:
        token: ${{ steps.app-token.outputs.token }}
        repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
        ref: ${{ github.event.pull_request.head.ref || github.ref }}
          
    - name: Run Tests
      shell: pwsh
      env:
        USE_CONTAINER: true
        ARCGIS_API_KEY: ${{ secrets.ARCGISAPIKEY }}
        GEOBLAZOR_CORE_LICENSE_KEY: ${{ secrets.GEOBLAZOR_CORE_LICENSE_KEY }}
      run: |
        dotnet test --project ./test/dymaptic.GeoBlazor.Core.Test.Automation/dymaptic.GeoBlazor.Core.Test.Automation.csproj -c Release --filter CORE_ --max-parallel-test-modules 2